.product-content .product.buy-controls {
display: block;
padding-left: 10px;
height: 30px;
width: 100%;
}

.product-content .product.buy-controls .wrapper {
margin: 0 auto;
padding-top: 5px;
padding-bottom: 5px;
}

.product-content .product.buy-controls .buy-control {
display: inline-block;
}

.product-content .product.buy-controls .buy-control.plus,
.product-content .product.buy-controls .buy-control.minus {
height: 25px;
width: 25px;
border-radius: 25px;
background-color: #3F51B5;
}

.product-content .product.buy-controls .buy-control.text {
width: 30px;
}